@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --solid-background-rgb: 232, 247, 232;
}

.custom-green{
  background-color: #E3F2E0;
}

.custom-brown{
  background-color: #E3D4BC;
}

.custom-text-color {
  color: #8C8271;
}

.border-brown {
  border: 1.5px solid #8C8271;
}

.border-green {
  border: 1.5px solid #689960;
}

@media (prefers-color-scheme: dark) {

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
